@import "../../global/variables";

.input_wrapper {
  border: none;
  outline: none;
  padding: 25px 40px;

  background: #fbfbfb;
  border-radius: 12px;

  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.1em;

  color: $text-500;

  display: inline-block;
  width: 100%;

  border: 1px solid #a0a0a0;
}
