.menu_options_wrapper {
  padding: 15px 0px 20px;

  display: flex;
  flex-direction: column;

  & .content {
    position: relative;
    cursor: pointer;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .header {
      display: flex;
      gap: 30px;
    }

    &:hover {
      background: #f5f4f4;
    }

    & .menu_icon {
      margin-left: 8px;
    }

    & .time {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      /* identical to box height */

      letter-spacing: 0.1em;

      color: #525252;
    }

    & .menu_label {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.1em;

      color: #292929;

      &.completed {
        color: #0a5612;
      }
    }

    &.menu_item_selected {
      &::before {
        content: "";

        position: absolute;
        left: -2px;
        top: 8px;
        bottom: 8px;

        width: 4px;
        background: #2e1788;
        border-radius: 3px;
      }
    }
  }
}
